var new_comment = $("<%= escape_javascript(render(:partial => @comment ))%>").hide();
$('#comments').prepend(new_comment);
$('#comment_<%= @comment_id %>').fadeIm('slow');
$('new_comment')[0].reset();